.accordion-panel {
  padding: 1.5rem 1.25rem;
  position: relative;
  z-index: 10;

  @media(min-width: 768px) {
    padding: 2rem;
  }

  @media(min-width: 1024px) {
    padding: 2rem 3rem;
  }

  @media(min-width: 1200px) {
    padding: 2rem 4rem;
  }
}

.accordion-trigger {
  padding: 1.5rem 1.25rem;
  text-align: left;
  width: 100%;

  @media(min-width: 768px) {
    padding: 2rem;
  }

  @media(min-width: 1024px) {
    padding: 2rem 3rem;
  }

  @media(min-width: 1200px) {
    padding: 2rem 4rem;
  }

  .accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion-icon {
    background-image: url(../../img/icon-plus-simple.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    height: 36px;
    width: 36px;
  }

  &[aria-expanded="true"] {
    .accordion-icon {
      transform: rotateZ(45deg);
    }
  }
}