.border-blend {
  background-image: url(../../img/flow-solutions-blend.jpg);
  background-size: cover;
  border-radius: 30px;
  padding: 16px;

  > div {
    background: white;
    border-radius: 20px;
    overflow: hidden; 
  }
}

.border-top-blend {
  position: relative;

  &::before {
    background-image: url(../../img/flow-solutions-blend.jpg);
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
  }
}