// .accordion-trigger {
//   i {
//     transition: 0.3s;
//     transform: rotateZ(0deg);
//   }
  
//   &[aria-expanded="true"] {
//     i {
//       transform: rotateZ(45deg);
//     }
//   }
// }

.btn {
  display: inline-block;
  position: relative;
  transition: 0.3s;

  > span {
    background: white;
    border: 3px solid $black;
    border-radius: 12px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    padding: 12px 64px;
    position: relative;
    z-index: 2;
  }

  &::after {
    background-image: url(../../img/flow-solutions-blend.jpg);
    border: 3px solid $black;
    border-radius: 12px;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
  }

  &:hover,
  &:focus,
  &.large {
    transform: translate(16px, -16px);

    &::after {
      transform: translate(-16px, 16px);
    }
  }

  &.large {
    > span {
      padding: 64px 48px;
    }
  }
}

// .btn-cyan {
//   background: $cyan;
//   color: $black;
// }

// .btn-white {
//   background: white;
//   color: #005264;
// }

// .filter {
//   background: white;
//   border: 1px solid transparent;
//   border-color: #90A4AE;
//   border-top-left-radius: 12px;
//   border-top-right-radius: 12px;
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
//   color: #90A4AE;
//   padding-left: 20px;

//   &[aria-selected="true"],
//   &:hover,
//   &:focus,
//   &.active {
//     background-color: #263238;
//     border-color: #263238;
//     color: white;
//   }

//   &.active {
//     pointer-events: none;
//   }
// }