input,
select,
textarea,
.vscomp-toggle-button {
  border: 1px solid #E5EBEB;
  border-radius: 8px;
  color: #00838F;
  display: block;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  padding: 16px 20px !important;
  width: 100%;

  &::placeholder {
    color: #90A4AE;
  }

  &[type="search"] {
    background: #FAFAFA;
  }
}

select,
.vscomp-toggle-button {
  display: inline-block;
  width: 200px;
}

label {
  color: $emerald;
  display: block;
  font-size: 14px;
  font-weight: 500;

  &:not(:first-child) {
    margin-top: 32px;
  }
}

.lightswitch {
  .lightswitch-button {
    background: #CFD8DC;
    border-radius: 100px;
    display: block;
    height: 20px;
    width: 36px;
    transition: 0.3s;

    &::after {
      background: white;
      border-radius: 50%;
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      transform: translate(2px, 2px);
      transition: 0.3s;
    }
  }

  :focus + .lightswitch-button {
    outline: 4px solid $blue;
  }

  :checked + .lightswitch-button {
    background: $blue;

    &::after {
      transform: translate(18px, 2px);
    }
  }
}

.vscomp-ele-wrapper {
  .vscomp-dropbox-container {
    box-shadow: none;

    > .vscomp-dropbox {
      border: 1px solid $black;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      overflow: hidden;
    }

    &.position-bottom {
      > .vscomp-dropbox {
        border-top-color: white;
        margin-top: -5px;
      }
    }
  }
  
  .vscomp-option {
    font-family: "Satoshi", sans-serif;
  }
  
  .vscomp-toggle-button {
    box-shadow: none !important;
    color: $black;
    margin: 0;
    transition: 0.5s;
  }

  &[aria-expanded="true"] {
    .vscomp-toggle-button {
      border-color: $black;
      border-radius: 0;
    }
  }
}