.drip-form {
  button {
    // position: absolute;
    // top: 50%;
    // right: 4px;
    // transform: translateY(-50%);
  }

  label {
    position: relative;
  }

  input {
    border: 1px solid #EDF1F9;
    border-radius: 16px;
    padding: 0 24px;
    width: 100%;
  }
}