a:not(.btn) {
  color: $blue;

  .arrow::after,
  &.arrow::after {
    background-image: url("../../img/Arrow-Right-Full.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 12px;
    width: 16px;
    margin-left: 12px;
    transition: 0.3s;
  }

  .text-white,
  &.text-white {
    color: white;

    &.arrow::after {
      background-image: url("../../img/Arrow-Right-Full-White.svg");
    }
  }

  &.text-black {
    color: $black;
  }

  &:hover,
  &:focus {
    .arrow::after,
    &.arrow::after {
      transform: translateX(4px);
    }
  }
}
