#menu {
  transform: translateX(100%);
  transition: 0.3s;
  
  &.is-active {
    transform: translateX(0);
  }

  @media(min-width: 1024px) {
    transform: translateX(0) !important;
  }
}

nav > ul {
  li {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-bottom: 8px;
    position: relative;

    @media(min-width: 1024px) {
      margin-bottom: 0;
    }
  
    ul {
      display: none;
      list-style: none;
      margin: 0;
      padding: 8px 0 0;
      top: 100%;
      white-space: nowrap;

      @media(min-width: 1024px) {
        background: #363E48;
        color: white;
        padding: 16px 0 0;
        position: absolute;
      }
    }
  
    &.open {
      ul {
        display: block;
      }
    }

    &.has-submenu {
      cursor: pointer;

      > a::after {
        background-image: url(../../img/chevron-down-dark.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        height: 8px;
        width: 16px;
        margin-left: 2px;
      }

      &.open {
        > a::after {
          transform: translateY(-2px) rotateZ(180deg);
        }
      }
    }
  }
}

#navigation {
  background: white;

  &.active {
    @media(min-width: 1024px) {
      background: $black;
      color: white;

      .has-submenu > a::after {
        background-image: url(../../img/chevron-down.svg);
      }
    }
  }

  #navigation_background {
    background: $black;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
  }
}