nav > ul {
  li {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    position: relative;
  
    ul {
      background: #363E48;
      color: white;
      display: none;
      list-style: none;
      margin: 0;
      padding: 16px 0 0;
      position: absolute;
      top: 100%;
      white-space: nowrap;
    }
  
    &.open {
      ul {
        display: block;
      }
    }

    &.has-submenu {
      cursor: pointer;

      > a::after {
        background-image: url(../../img/chevron-down-dark.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        height: 8px;
        width: 16px;
        margin-left: 2px;
      }

      &.open {
        > a::after {
          transform: translateY(-2px) rotateZ(180deg);
        }
      }
    }
  }
}

#navigation {
  background: white;

  &.active {
    background: $black;
    color: white;

    .has-submenu > a::after {
      background-image: url(../../img/chevron-down.svg);
    }
  }

  #navigation_background {
    background: $black;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
  }
}