{% css 'https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' %}
{% css 'https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css' %}
{% js 'https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' at endBody %}

<section class="bg-white relative">
    <div class="container my-24">
        <div class="bg-white border border-grey box-shadow flex flex-nowrap p-12 rounded-[30px]">
            <div class="w-4/12">
                {{ matrixBlock.mainContent }}
            </div>
            <div class="w-1/6"></div>
            <div class="w-1/2 -mt-24">
                {% if matrixBlock.images|length %}
                    <div class="slider mb-6">
                        {% for slide in matrixBlock.images.all() %}
                            <div class="rounded-[15px] overflow-hidden"><img src="{{ slide.getUrl('carousel') }}" alt="{{ slide.alt }}"/></div>
                        {% endfor %}
                    </div>
                    <div class="dots"></div>
                {% endif %}
            </div>
        </div>
    </div>
</section>